services:
  server:
    build:
      context: .
      target: release
    # ports:

    #   - 3000:3000
    volumes:
      - "./.env:/app/.env"
      - "./ettiContent.db:/app/ettiContent.db"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ettih.rule=Host(`etti.blitzcloud.me`) || Host(`blitzcloud.me`) || Host(`api.blitzcloud.me`) || Host(`api.etti.blitzcloud.me`) || Host(`etti.ro`) || Host(`api.etti.ro`)"
      - "traefik.http.routers.ettih.entrypoints=https"
      - "traefik.http.routers.ettih.tls=true"
      - "traefik.http.services.ettih.loadbalancer.server.port=3000"
      - "traefik.http.routers.ettih.tls.certresolver=cloudflare"
      - "traefik.http.routers.ettih.tls.domains[0].main=etti.ro"
      - "traefik.http.routers.ettih.tls.domains[0].sans=api.etti.ro"
      #Define midleware
      #- "traefik.http.routers.ettih.middlewares=my-traefikBouncer@file,my-cloudflarewarp@file"
    networks:
      - web
    restart: always
    environment:
      - MS_AUTH_TENANT_ID=2d8cc8ba-8dda-4334-9e5c-fac2092e9bac

networks:
  web:
    external: true
