services:
  server:
    build:
      context: .
      target: release
    ports:
      - 3000:3000
    volumes:
      - "./.env:/app/.env"
      - "./ettiContent.db:/app/ettiContent.db"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ettih.rule=Host(`ettih.blitzcloud.me`)"
      - "traefik.http.routers.ettih.entrypoints=https"
      - "traefik.http.routers.ettih.tls=true"
      - "traefik.http.services.ettih.loadbalancer.server.port=3000"
      #Define midleware
      #- "traefik.http.routers.ettih.middlewares=my-traefikBouncer@file,my-cloudflarewarp@file"
    networks:
      - web
    restart: always

networks:
  web:
    external: true
