<main>
  <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-2xl">
      <div class="space-y-5 md:space-y-8">
        {{#post}}
        <div class="dark:text-white">
          <h1>{{Name}}</h1>
          <p>{{Date}}</p>
        </div>
        <div class="relative">
          <button
            id="copyCode"
            class="absolute right-3 top-[-15px] px-3 py-1 border border=[3px] border-ctp-rosewater rounded-lg bg-ctp-base text-ctp-mauve font-normal text-base"
            onclick="getCodeToCopy('{{Date}}/{{Name}}')"
          >
            Copy Code
          </button>
          <!-- prettier-ignore -->
          <div
            id="codeBlock"
            class=""
          >{{Content}}</div>
        </div>
        {{/post}}
      </div>
    </div>
  </div>
</main>

<script type="module">
  import { codeToHtml, codeToTokens } from "https://esm.sh/shiki@1.24.4";

  const codeBlock = document.getElementById("codeBlock");
  const data = await codeToHtml(`${codeBlock.textContent}`, {
    lang: "c",
    theme: "night-owl",
  });
  codeBlock.innerHTML = data;
  codeBlock.style.background = codeBlock.childNodes[0].style.background;
  console.log(codeBlock.style.background);
  console.log(codeBlock.childNodes[0].style);
</script>
