<!-- Card Section -->
<div class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-1 md:grid-cols-2 sm:gap-3 gap-6">
    <!-- Card -->
    {{#posts}}
    <a
      class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800"
      href="/{{linkTo}}/{{Date}}/{{Title}}"
    >
      <div class="p-4 md:p-5">
        <div class="flex gap-x-5">
          <div class="grow">
            <h3
              class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200"
            >
              {{Title}}
            </h3>
            <p class="mb-1 text-sm text-gray-500 dark:text-neutral-500">
              <!-- {{#Tags}}
              <span>Tags:</span>
              {{/Tags}}  -->

              {{#Tags}} {{.}} {{/Tags}}
            </p>
            <p class="mb-1 text-sm text-ctp-subtext1">{{Date}}</p>
            {{#Description}}
            <p class="text-sm text-gray-500 dark:text-neutral-500">
              {{Description}}
            </p>
            {{/Description}}
          </div>
        </div>
      </div>
    </a>
    {{/posts}}

    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Section -->
